/*Import Generic CSS*/
@import url(./generic.css);

.about {
  padding-inline: 2vh;
  padding-bottom: 2vh;
}

.about_header {
  margin-top: 2.5%;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.about_paragraph {
  font-size: 1vh;
  display: flex;
  width: 100vmin;
  margin-left: auto;
  margin-right: auto;
}

.about_achievements {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.about_achievements .achievement_main {
  font-size: 1.1vh;
}

.about_achievements .achievement_year {
  font-size: 0.9vh;
  font-size: 0.75;
}

.about_experience {
  width: 100vmin;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.about_header {
  margin-top: 4vh;
  font-size: 1.5vh;
  text-align: center;
  font-weight: 200;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  font-size: 1vh;
}

.bar {
  position: relative;

  border: 2px solid var(--accent);

  border-radius: 20px;
}

.bar div {
  position: relative;
  width: 0;
  height: 0.5vh;
  border-radius: 0.1vh;
  background-color: var(--accent);
}

#swe-bar {
  animation: swe-skill-bar 2s forwards;
}
@keyframes swe-skill-bar {
  100% {
    width: 80%;
  }
}
#teamwork-bar {
  animation: teamwork-bar 2s forwards;
}
@keyframes teamwork-bar {
  100% {
    width: 90%;
  }
}
#js-bar {
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100% {
    width: 80%;
  }
}
#react-bar {
  animation: react-fill 2s forwards;
}
@keyframes react-fill {
  100% {
    width: 80%;
  }
}

body ::selection {
  background-color: var(--accent);
  color: white;
}
