/*Import Generic CSS*/
@import url(./generic.css);

.experience {
  margin-left: auto;
  margin-right: auto;
  width: 100vmin;
  padding-inline: 2vw;
  padding-bottom: 2vw;
}

.experience ::selection {
  background-color: var(--accent);
  color: white;
}

.experience_header {
  margin-top: 4vh;
  font-size: 1.5vw;
  text-align: center;
}

.experience_body {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1vw;
}

.experience_degree {
  margin-top: 0.2;
  padding-block: 20px;
}

.experience_degree img {
  width: 15%;
}

.experience_main {
  font-size: 1vw;
  margin-top: 0.5vw;
}

.experience_main #undergrad_swe {
  font-size: 0.99vw;
  margin-top: 0.5vw;
}

.experience_secondary {
  font-size: 0.9vw;
  margin-top: 0.5vw;
}

.experience_tertiary {
  font-size: 0.8vw;
  margin-top: 0.5vw;
}
