/* Colour Pallette*/
:root {
  --primary: white;
  --secondary: rgb(82, 82, 82);
  --accent: rgb(160, 124, 160);
  --text-primary-color: white;
  --text-secondary-color: rgb(82, 82, 82);
  --text-accent-color: rgb(255, 148, 148);
}

header {
  background-color: var(--accent);
  padding: 1vmax;
  text-align: center;
  font-size: 1.5vmax;
  color: var(--text-primary-color);
}

* {
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }

  
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .row{
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .main_body {
    font-size: 1vw;
  }