/* Colour Pallette*/
.topnav a {
    overflow: hidden;
    text-decoration: none;
    float: right;
    color: var(--text-primary-color);
    padding-left: 20px;
    font-size: medium;
    text-shadow: #666;
    text-align: center;
    font-weight: bold;
  }
  
  .topnav .header_name {
    overflow: hidden;
    text-decoration: none;
    float: left;
    color: var(--text-primary-color);
    margin-left: -20px;
    text-shadow: #666;
    text-align: center;
    font-size: 20px;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
  }
  @media screen and (max-width: 500px) {
    .topnav a {
      visibility: hidden;
    }
    
    .topnav .header_name {
      visibility: visible;
      overflow: hidden;
      text-decoration: none;
      float: left;
      color: var(--text-primary-color);
      margin-left: -20px;
      text-shadow: #666;
      text-align: center;
      font-size: 20px;
      font-family: 'Unbounded', cursive;
      font-weight: bold;
    }

  }

  .divider {
    border-bottom: 1px solid var(--text-primary-color);
    height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .connect_message {
    color: var(--text-primary-color);
    font-size: 1.5vmin;   
  }
  
  .connect_message a {
    color: var(--text-primary-color);
    margin-block: 0;
    padding-block: 0;
  }
  
  .connect_link:hover {
    color: var(--text-primary-color);
    text-decoration-line: underline;
  }
  
  .connect_close {
    font-size: 1.5vmin
  }
  
  .connect_close:hover {
    cursor: pointer;
    color: rgb(255, 148, 148);
  }

  @media (max-width: 600px) {
    .connect_close {
      margin-left: 20vmin;
      margin-top: -2vmin
      margin
    }
   }

  header {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--accent);
    text-align: center;
    font-size: 2vw;
    color: var(--text-primary-color);
  }