/*Import Generic CSS used throughout website*/
@import "./generic.css";

body ::selection {
    /* Change highlight background color to black */
    background: var(--secondary);
}

/*Set main body styling*/
#body {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    padding: 4rem;
    font-size: 1vmin;
    color: var(--text-primary-color);
    margin: auto;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    text-size-adjust: 20px;
}

.main_name {
    color: var(--text-primary-color);
    font-size: auto;
    font-family: "Unbounded", cursive;
    font-weight: 900;
    text-align: center;
    font-size: 2.5vmax;
}

.contact i {
    font-size: auto;
    padding-top: 30px;
    text-align: center;
}

.linked_in {
    margin-top: 0.1%;
    display: inline-block;
    color: var(--text-primary-color);
}

.linked_in:hover {
    margin-top: 0.1%;
    text-align: center;
    color: var(--text-secondary-color);
}

.email {
    margin-top: 0.1%;
    display: inline-block;
    color: var(--text-primary-color);
}

.email:hover {
    margin-top: 0.1%;
    text-align: center;
    color: var(--text-secondary-color);
}

.github {
    margin-top: 0.1%;
    display: inline-block;
    color: var(--text-primary-color);
}

.github:hover {
    margin-top: 0.1%;
    text-align: center;
    color: var(--text-secondary-color);
}

#main_hi {
    font-size: 1.5vmax;
}

#main_job {
    margin-top: -0.5%;
    font-size: 1.5vmax;
    display: flex;
    justify-content: flex-end;
}

#main_body {
    margin: 2rem auto;
    align-items: center;
}

#main_update {
    background-color: white;
    border-radius: 25px;
    padding-inline: 4rem;
    padding-top: 0.2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.main_contact {
    font-size: 1.25vmax;
    text-align: center;
}

.message {
    font-size: 1.25vmax;
    text-align: left;
    color: var(--text-secondary-color);
}

.update {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1rem;
}

.update ::selection {
    background: var(--accent);
}

.latest_update {
    font-size: 1.25rem;
    cursor: pointer;
}

.subtitle {
    font-size: 1.25vmax;
    margin-top: 50px;
    width: 60vmin;
    margin-left: auto;
    margin-right: auto;
}
