@import url(generic.css);

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

body ::selection {
  background-color: var(--accent);
  color: white;
}

.container {
  padding: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 25px;
  cursor: pointer;
  padding: 0.1rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.updates_main {
  width: 100vmin;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.main_body {
  padding-block: 2rem;
  font-size: 1rem;
}

.card_filter {
  border-radius: 20px;
  border: 2px solid var(--accent);
  padding: 12px 20px;
  margin: 8px 0;
}

.card_filter:focus {
  outline: none;
}
